.cards {
	margin: 0;
	padding: 0 50px 50px 50px;
    list-style-type: none;
    .card {
        display: block;
        padding:50px;
        a {
            text-decoration: none;
            width:100%;
            text-align: center;
            color: $color-main;
            transition: all .2s;
        }
    }
}

// .works-mark {
//     padding-bottom:50px;
// }
@include break(0,$breakpoint-pc) {
    .works-title{
        font-size: 2rem;
    }

}

@include break($breakpoint-pc,1300px) {
    .works-title{
        font-size: 2rem;
    }

}


@include break(1300px) {
    .works-title{
        font-size: 4rem;
    }

}


