.cards {
	margin: 0;
	padding: 0;
    list-style-type: none;
    .card {
        a {
            text-decoration: none;
            width:100%;
            transition: all .2s;
        }
    }
}
.card img {
    width:100%;
    height:auto;
}

@include break(0,$breakpoint-pc) {
    .card{
        display:block;
        margin-left: auto;
        margin-right: auto;
        padding:3rem;
        // width:100vw;
        
    }
    .works-title{
        font-size: 1.5rem;
    }
    .card a {
        color: $color-main;
    }
    // .card img {
    //     display:none;
    // }

}

@include break($breakpoint-pc,1300px) {
    .works-title{
        font-size: 2rem;
    }
    .card a{
        color: $light-gray;
    }

}


@include break(1300px) {
    .works-title{
        font-size: 2.1rem;
        line-height:2.5rem;
    }
    .works-mark{
        font-size: 0.9rem;
        line-height:0rem;
    }
    .card a{
        color: $light-gray;
    }


}

@include break($breakpoint-pc) {
    
/*****************************
overlay image and text
***********************************/
    .card {
        display:grid;
        padding:0;
        text-align: center;
    }
    .card img,
    .caption {
        grid-column:1;
        grid-row:1;
    
    }
    
    .wrapper figure{
        position:relative;
        overflow:hidden;
    }

    .wrapper figure img{
        position:relative;
        transform: translateY(0);
        transition: transform 0.4s;
        
    }
    .wrapper figure:hover img{
        transform: translateY(200px);
    }
    .wrapper figure:hover {
        // color:$color-main;
        background:$color-backgrounds;
        border:5px solid $color-main;
        // text-shadow:2px 2px 3px $light-gray;
        
    }
    .wrapper .caption:hover {
        background:none;
        color:$color-main;

    }
    .caption {
        z-index:100;
        padding:1rem;
        background:$eerie-black-hover;
        
        // border: 2px solid $color-main;
    }

    // .caption {
    // 	padding: 1em;
    // 	background: none;
    // 	color: $color-main;
    // 	transition: all .4s;
    // }
    // a:focus .caption,
    // a:hover .caption {
    // 	background:$hover;
    // }
    

}




