.cards {
	margin: 0;
	padding: 0;
    list-style-type: none;
    .card {
        
        a {
            text-decoration: none;
            width:100%;
            
            color: $color-main;
            transition: all .2s;
        }
    }
}
.card img {
    width:100%;
    height:auto;
}

@include break(0,$breakpoint-pc) {
    .card{
        display:block;
        margin-left: auto;
        margin-right: auto;
        padding:3rem;
        // width:100vw;
    }
    .works-title{
        font-size: 1.5rem;
    }
    // .card img {
    //     display:none;
    // }

}

@include break($breakpoint-pc,1300px) {
    .works-title{
        font-size: 2rem;
    }

}


@include break(1300px) {
    .works-title{
        font-size: 2.5rem;
    }

}

@include break($breakpoint-pc) {
    
/*****************************
overlay image and text
***********************************/
    .card {
        display:grid;
        padding:0;
        text-align: center;
    }
    .card img,
    .caption {
        grid-column:1;
        grid-row:1;
    
    }
    
    .caption {
    	padding: 1em;
    	background: none;
    	color: $color-main;
    	transition: all .4s;
    }
    a:focus .caption,
    a:hover .caption {
    	background:$hover;
    }
    
    .caption-title {
    	margin: 0;
    	line-height: 1.1em;
    }

}




